# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: http://discord.esx-framework.org/     #
#     Website: https://esx-framework.org/           #
#     CFG Docs: https://aka.cfx.re/server-commands  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


# Editable Settings
# -----------------
# You can edit the following:
sv_licenseKey "cfxk_5nmpOAnN0VTkw1Wbo10O_3iTmGg"
set steam_webApiKey "E93C500D4600D8E93189A4C4872EE573"
sv_maxclients 1
endpoint_add_tcp "0.0.0.0:30122"
endpoint_add_udp "0.0.0.0:30122"

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on  # OneSync aktivieren [ERFORDERLICH FÜR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://root:AipiethazeQu1Gi6@localhost/ESXLegacy_FAF92E?charset=utf8mb4"
set mysql_slow_query_warning 1000
set mysql_ui true

################ HOSTSACHEN ################
sv_hostname "^0[^6GERMAN^0] ^6Free ^0 | 🔒^3Discord One Click Allowlist🔒^8+ | 🎤 ^4TeamSpeak ^7 | ☠️^3Gangwar System ^0| ^2💎Casino ^0| 💯 ^1Performance ^7| 🔥^6Fraktionen Gründen"

sets sv_projectName "^6[GERMAN] Free"

sets sv_projectDesc "Discord One Click Allowlist x Teamspeak x Casino x Gangwar System x Performance x"

sets Tags "roleplay, rp, german, ger, deutsch, lspd, lsmc, gangwar, teamspeak, esx, drogen, realgcv, gcv, jobs, illgegal, legal"

sets tags "Free, german"

sets 🛡️Anticheat "✅"

sets 🎧Discord ""

sets 🎤Teamspeak ""

sets 🚀RolePlay "Midcore🚀"

sets ✔️Modded "🌆Maps |🚗Fahrzeuge |👗Kleidung"

sets 👨‍🌾Farmrouten "🍁Cannabis|🧪Meth|💉LSD|🍇Trauben|🍊Orangen| und vieles mehr!"

sets 🔒Whitelist "Discord One Click Allowlist🔒"

sets 👪Altersbeschränkung "Ab 16 Jahren✅"

sets locale "de-DE" 

setr esx:locale "de" #Automatische Sprachauswahl bei unterstüzten Scripts

sets banner_detail ""

sets banner_connecting ""

load_server_icon logo.png

##sets banner_detail "https://cdn.discordapp.com/attachments/868590437429051452/1062037085197967380/FIVEM_BANNER_1.gif"
##sets banner_connecting "https://cdn.discordapp.com/attachments/868590437429051452/1062037085197967380/FIVEM_BANNER_1.gif"

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:6187871 group.admin #GenerartionCity-V

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "de"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl


exec resources.cfg
exec maps.cfg
exec phone.cfg